
<div class="box" style="width:350px; margin:auto">
	
	<h1 id="login_title"><%= t('messages.login_title') %></h1>

	<script type="text/javascript" charset="utf-8">
		jQuery(function(){
			jQuery('#login').focus();
		});
	</script>

	<%= form_tag sessions_path do %>
	  <p>
	    <%= label_tag t('activerecord.attributes.user.username') %><br />
	    <%= text_field_tag :login, params[:login] %>
	  </p>
	  <p>
	    <%= label_tag t('activerecord.attributes.user.password') %><br />
	    <%= password_field_tag :password %>
	  </p>
	  <p><%= submit_tag t('messages.login') %></p>
	<% end %>

	<p class="claro"><%= t('messages.dont_have_account') %> <%= link_to t('messages.create_an_account'), signup_path %></p>

	
</div>
