
<div class="box" style="width:380;margin:auto">
	
	<h2 style="margin-bottom:20px"><%= t('messages.edit_your_profile') %></h2>

	<%= form_for(@user) do |form| %>
	
		<% if @user.errors.any? %>
	    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
	  <% end %>
	  

		<div style="width:320px;position:relative;left:20px">
		
			<label for="user_name"><%= t('activerecord.attributes.user.name') %>:</label>
			<%=form.text_field "name"%>				
			<p class="field_tip">
				(<%= t('activerecord.attributes.user.name_tip') %>)
			</p>

			<p>
				<label for="user_page_url"><%= t('activerecord.attributes.user.page_url') %>:</label>
				<%=form.text_field "page_url"%>
			</p>
			
			<label for="user_email"><%= t('activerecord.attributes.user.email') %>:</label>
			<%=form.text_field "email"%>

			<p class="field_tip">
				(<%= t('activerecord.attributes.user.email_tip').html_safe %>)
			</p>
			
			<%= image_tag(gravatarUrlFor(@user.email), :style=>"margin:0px") %>
		
		</div>

		<p style="text-align:right; margin-right:20px">
			<input type="submit" name="save" value="<%= t('messages.save') %>"/>
		</p>			

	<% end %>

</div>