
<div class="box" style="width:400px; margin:auto">

	<h1 id="sign_up">Creating an account</h1>

	<p class="claro"><%= t('messages.already_have_account') %> <%= link_to t('messages.login'), login_path %>.</p>

	<% form_for @user do |f| %>
	  <%= f.error_messages %>
	  <p>
	    <%= f.label t('activerecord.attributes.user.username') %><br />
	    <%= f.text_field :username, :size => 10  %>
	  </p>
	  <p>
	    <%= f.label t('activerecord.attributes.user.password') %><br />
	    <%= f.password_field :password, :size => 10 %>
	  </p>
	  <p>
	    <%= f.label t('activerecord.attributes.user.password_again') %><br />
	    <%= f.password_field :password_confirmation, :size => 10 %>
	  </p>
	  <p style="text-align: right; margin: 30px 20px 0 0">
		<input type="button" onClick="history.back()" value="<%=t('messages.cancel')%>"/> <%= f.submit t('messages.save') %>
	</p>
	 
	<% end %>

</div>