<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<%= stylesheet_link_tag "public" %>
	</head>

	<body>

		<div id="header">
			Nome do Dojo
		</div>

		<div id="central">
	
			<% unless @dojo_sessions.empty? %>

				<% for dojo_session in @dojo_sessions do %>

					<h1><%= dojo_session.title %></h1>
					<p><%= dojo_session.text %></p>
					<p><%= dojo_session.place %></p>
					<p><%= dojo_session.date.to_s_br %></p>
					<p><%= dojo_session.time %></p>
	
				<% end %>
	
			<% else %>
				<p>Nenhuma sessão proposta no momento.</p>
			<% end %>

			<a href="/dojo_sessions/new">marcar uma nova sessão</a>
	
		</div>

	</body>
</html>