
<div id="name">

	<h2> Pr처ximas sess천es: </h2>

	<% unless @dojo_sessions.empty? %>

		<% for dojo_session in @dojo_sessions do %>

			<h3><%= dojo_session.title %></h3>
			<p><%= dojo_session.text %></p>
			<p><%= dojo_session.place %></p>
			<p><%= dojo_session.date.to_s_br %></p>
			<p><%= dojo_session.time %></p>

		<% end %>

	<% else %>
		<p>Nenhuma sess찾o proposta no momento.</p>
	<% end %>

	<a href="/dojo_sessions/new">marcar uma nova sess찾o</a>

</div>
