
<table>

	<tr>
	
		<td width="40%" rowspan="2" valign="top">
			
			<div class="picture_frame" style="margin-bottom:5px">
				
				<%= link_to(image_tag("http://farm3.static.flickr.com/2078/2077871613_f7cddbdfaf.jpg", :height=>"350px", :border=>0), "http://www.flickr.com/photos/davisayer/2077871613/") %>
				
			</div>
							
		</td>
	
	
		<td valign="middle" style="padding-top:40px; font-size: large">
			
			<ul style="list-style-type: none">
				<li><%= link_to "Sobre Coding Dojo", page_path('sobre_coding_dojo') %></li>
				<li><%= link_to "Sobre o DojoSEA", page_path('sobre_o_dojo_sea') %></li>
				<li><%= link_to "Como participar?", page_path('como_participar') %></li>
			</ul>
			
		</td>
		
		
	</tr>
	
	
	<tr>
		
		<td valign="bottom">
		
			<div class="box" id="next_sessions" style="margin-bottom: 5px">

				<h2>Próximas sessões</h2>	

				<% unless @dojo_sessions.empty? %>

					<ul style="list-style-type: none">

						<% for dojo_session in @dojo_sessions do %>

								<li>

									<strong><%= dojo_session.title %></strong><br/>

									<span class="claro" style="font-size: small; margin:20px"> 
										(<%= l dojo_session.date, :format=>"pretty" %>)
									</span>

								</li>

						<% end %>

					</ul>

					<div style="text-align: right">
						<%= link_to("mais detalhes >>", dojo_sessions_path) %>
					</div>

				<% else %>
					<p>Nenhuma sessão proposta no momento.</p>
				<% end %>

			</div>
		
		</td>
		
	</tr>
	
</table>

