
<table>

	<tr>
	
		<td width="40%" rowspan="2" valign="top">
			
			<div class="picture_frame" style="margin-bottom:5px">
				
				<%= link_to(image_tag("http://farm1.static.flickr.com/22/29300536_ce2584772b_z.jpg?zz=1", :height=>"350px", :border=>0), "http://www.flickr.com/photos/menta90/29300536/", :target=> '_blank') %>
				
				<!-- http://www.flickr.com/photos/danielmarenco/5296872241/ -->
				
			</div>
							
		</td>
	
	
		<td valign="middle" style="padding-top:40px; font-size: large">
			
			<ul style="list-style-type: none">
				<li><%= link_to "Sobre Coding Dojo", page_path('sobre_coding_dojo') %></li>
				<li><%= link_to "Como participar?", page_path('como_participar') %></li>
				<li><%= link_to "Sessions history", history_index_path %></li>
			</ul>
			
		</td>
		
		
	</tr>
	
	
	<tr>
		
		<td valign="bottom">
		
			<div class="box" id="next_sessions" style="margin-bottom: 5px">

				<h2>Next sessions</h2>	

				<% unless @dojo_sessions.empty? %>

					<ul style="list-style-type: none">

						<% for dojo_session in @dojo_sessions do %>

								<li>

									<strong><%= dojo_session.title %></strong><br/>

									<span class="claro" style="font-size: small; margin:20px"> 
										(<%= l dojo_session.date, :format=>"pretty" %>)
									</span>

								</li>

						<% end %>
						
					</ul>

					<div style="text-align: right">
						<%= link_to("more details >>", dojo_sessions_path) %>
					</div>

				<% else %>
					<p>No proposed sessions at the moment</p>

					<% if logged_in? && current_user.has_propose_priv? %>
						<div style="text-align:right; margin-right:10px">
							<%= link_to "Propose a new session", new_dojo_session_path %>
						</div>
					<% end %>

				<% end %>

			</div>
		
		</td>
		
	</tr>
	
</table>

