
<h2 class="page_title"> Próximas sessões </h2>

<% unless @dojo_sessions.empty? %>

	<% for dojo_session in @dojo_sessions do %>

		<div class="dojo_session">
			<h3><%= dojo_session.title %></h3>

			<p><%= dojo_session.text %></p>

			<table border="0" width="100%">
				<tr>
					<td width="60%"><b>Onde:</b> <%= dojo_session.place %></td>
					<td width="40%">
						<b>Quando:</b> <%= l dojo_session.date, :format=>"pretty" %><br/>
						<b>Que horas:</b> <%= dojo_session.time %>
					</td>
				</tr>
			</table>
			
			<a href="<%= confirm_presence_dojo_session_path(dojo_session.id)%>">confirmar presença</a>
			
		</div>
		
	<% end %>

<% else %>
	<p>Nenhuma sessão proposta no momento.</p>
<% end %>

<% if logged_in? %>
	<div style="text-align:right; margin-right:10px"><a href="/dojo_sessions/new">Propor uma nova sessão</a></div>
<% end%>



