<% unless @dojo_sessions.empty? %>

	<% for dojo_session in @dojo_sessions do %>

		<h1><%= dojo_session.title %></h1>
		<p><%= dojo_session.text %></p>
		<p><%= dojo_session.place %></p>
		<p><%= dojo_session.date %></p>
		<p><%= dojo_session.time %></p>
	
	<% end %>
	
<% else %>
	<p>Nenhuma sessão proposta no momento.</p>
<% end %>

<a href="/dojo_sessions/new">marcar uma nova sessão</a>