
	<h2 class="page_title"> Pr처ximas sess천es </h2>

	<% unless @dojo_sessions.empty? %>

		<% for dojo_session in @dojo_sessions do %>

			<div class="dojo_session">
				<h3><%= dojo_session.title %></h3>

				<p><%= dojo_session.text %></p>

				<table border="0" width="100%">
					<tr>
						<td width="60%"><b>Onde:</b> <%= dojo_session.place %></td>
						<td width="40%">
							<b>Quando:</b> <%= l dojo_session.date, :format=>"pretty" %><br/>
							<b>Que horas:</b> <%= dojo_session.time %>
						</td>
					</tr>
				</table>
				
			</div>
			
		<% end %>

	<% else %>
		<p>Nenhuma sess찾o proposta no momento.</p>
	<% end %>

	<a href="/dojo_sessions/new">marcar uma nova sess찾o</a>


