
<h2 class="page_title"> Próximas sessões </h2>


<% unless @dojo_sessions.empty? %>

	<% for dojo_session in @dojo_sessions do %>

		<div class="dojo_session" id="dojo_session_<%=dojo_session.id%>">

			<% if logged_in? %>
				<%= link_to 'editar', edit_dojo_session_path(dojo_session), :class => 'link_northeast' %>
			<% end%>
			
			<h3 style="margin-bottom: 5px;"><%= dojo_session.title %></h3>
			
			<span class="claro" style="margin-left:20px"> 
				( <%= l dojo_session.date, :format=>"pretty" %>, 
			 	  <%= dojo_session.time %>, 
			      <%= dojo_session.place %> )
			</span>
			
			<br/>

			<p><%= dojo_session.text %></p>

			<div id="confirmations">

				<% if dojo_session.confirmed_users.empty? %>
				
					<p>Ninguém confirmou ainda</p>
					
				<% else %>

					<span><b>Confirmados até agora:</b></span>
					<ul style="margin-top:5px">
						<% for user in dojo_session.confirmed_users do %>
							<li>
							
								<%=user.username%>
								
								<% if user == current_user %>
									<span class="claro">(você) &nbsp; </span>
									<a class="small_link" href="<%= unconfirm_presence_dojo_session_path(dojo_session.id) %>">desconfirmar</a>
								<% end %>
								
							</li>
						<% end %>
					</ul>
				
				<% end %>

				<% if !dojo_session.confirmed_users.include?(current_user) %>
					<ul><li>
					<a href="<%= confirm_presence_dojo_session_path(dojo_session.id)%>">Confirmar minha presença</a>
					</li></ul>
				<% end %>
				
			</div>
			
		</div>
		
	<% end %>

<% else %>
	<p>Nenhuma sessão proposta no momento.</p>
<% end %>

<% if logged_in? %>
	<div style="text-align:right; margin-right:10px"><a href="/dojo_sessions/new">Propor uma nova sessão</a></div>
<% end%>



