
<h2 class="page_title">Propor uma nova sessão</h2>

<% form_for @dojo_session, :method=>:post do |f| %>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td align="right"><%= f.label :title, 'Título' %>:</td>
			<td><%= f.text_field 'title', :size=>45 %></td>
		</tr>

		<tr>
			<td align="right" valign="top"><%= f.label :text, 'Texto' %>:</td>
			<td>
				<%= f.text_area 'text', :cols=>45, :rows=>10 %><br/>
				<span class="claro">(Use código HTML para formatar)</span>
			</td>
		</tr>

		<tr>
			<td align="right"><%= f.label :text, 'Local' %>:</td>
			<td><%= f.text_field 'place', :size=>45 %></td>
		</tr>

		<tr>
			<td align="right"><%= f.label :text, 'Data' %>:</td>
			<td>
				<%= f.text_field 'date', :size=>10 %>
				<span class="claro">(Use formato dd/mm/yyyy)</span>
			</td>
		</tr>

		<tr>
			<td align="right"><%= f.label :text, 'Horário' %>:</td>
			<td>
				<%= f.text_field 'time', :size=>10 %>
				<span class="claro">(Texto livre)</span>
			</td>
		</tr>

		<tr>
			<td align="right"></td>
			<td> <input type="button" onClick="history.back()" value="Cancelar"/> <input type="submit" value="Salvar"/></td>
		</tr>

	</table>
	
<% end %>



