<%= link_to '<< Voltar para o histórico', history_index_path %>
<div class="box" style="margin-top:5px;" id="dojo_session_<%=@dojo_session.id%>">

	<h1 style="margin-bottom: 5px;"><%= @dojo_session.title %></h1>

	<span class="claro" style="margin-left:20px"> 
		( <%= l @dojo_session.date, :format=>"pretty" %>, <%= @dojo_session.time %>, <%= @dojo_session.place %> )
	</span>

	<br/>

	<p><%= RedCloth.new(@dojo_session.text).to_html %></p>

</div>