<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "public" %>
		<%= javascript_include_tag 'jquery' %>
	</head>

	<body>

		<div id="wrapper">
			
			<div id="logon_menu">
				<% if logged_in? %>
					Welcome, <b> <%= current_user.name_or_username %> </b>
					<%= link_to image_tag("edit-pencil.gif",{:border=>0, :alt=>'edit profile'}), edit_profile_path, :id=>'edit_profile_link' %> /
					<%= link_to "Log out", logout_path%>
				<% else %>
					<%= link_to "Log in", login_path%>
				<% end %>
				&nbsp;
			</div>

			<div id="header">
				<%= image_tag "brasilia_corte.png", :style=>"height:170px; top:-18px; left: -50px; position: absolute" %>
				<%= link_to "Dojo Brasília", root_path %>
			</div>

			<div id="container">
				<%= yield %>
			</div>

		</div>
		
		<div id="footer" style="text-align:right">
			Host your own coding dojo: <a target="_blank" href="http://github.com/brunopedroso/dojospot">DojoSpot</a>
		</div>




	<!-- google analytics -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-16183801-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
	
	</body>
</html>