<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<%= stylesheet_link_tag "public" %>
		<%= javascript_include_tag 'jquery' %>
	</head>

	<body>


		<div id="logon_menu">
			<% if logged_in? %>
				Bem vindo, <b> <%= current_user.username %> </b> /
				<a href="/logout">Log out</a>
			<% else %>
				<a href="/login">Log in</a>
			<% end %>
			&nbsp;
		</div>

		<div id="header">
			<%= image_tag "teto.png" %>
			<%= link_to "/DojoSEA", root_path %>
			<%= image_tag "arvore.png", :style=>"float: right; margin-right:20px" %>
		</div>

		<div id="container">
			<%= yield %>
		</div>


	</body>
</html>