<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<%= stylesheet_link_tag "public" %>
		<%= javascript_include_tag 'jquery' %>
	</head>

	<body>


		<div id="logon_menu">
			<% if logged_in? %>
				Bem vindo, <b> <%= current_user.username %> </b> /
				<a href="/logout">Log out</a>
			<% else %>
				<a href="/login">Log in</a>
			<% end %>
			&nbsp;
		</div>

		<div id="header">
			<img src="/images/teto.png"/>
			<%= link_to "/DojoSEA", "/" %>
			<img src="/images/arvore.png"/ style="float: right; margin-right:20px">
		</div>


		<div id="container">

			<div id="central">

				<%= yield %>

			</div>

		</div>


	</body>
</html>