<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "public" %>
		<%= javascript_include_tag 'jquery' %>
		
		
		<!-- google analytics -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22795656-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
	</head>

	<body>

		<div id="wrapper">
			
			<div id="logon_menu">
				<% if logged_in? %>
					Welcome, <b> <%= current_user.name_or_username %> </b>
					<%= link_to image_tag("edit-pencil.gif",{:border=>0, :alt=>'edit profile'}), edit_profile_path, :id=>'edit_profile_link' %> /
					<%= link_to "Log out", logout_path%>
				<% else %>
					<%= link_to "Log in", login_path%>
				<% end %>
				&nbsp;
			</div>

			<div id="header">
				<%= image_tag "brasilia_corte.png", :style=>"height:170px; top:-18px; left: -50px; position: absolute" %>
				<%= link_to "Dojo Brasília", root_path %>
			</div>

			<div id="container">
				<%= yield %>
			</div>

		</div>
		
		<div id="footer">
			<span style="text-align:left"><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="http://smallactsmanifesto.org/media/images/smallacts-badge-80x15-blue.png" style="border: none;" alt="Small Acts Manifesto" /></a></span>
			<span style="float:right">Host your own coding dojo: <a target="_blank" href="http://github.com/brunopedroso/dojospot">DojoSpot</a></span>
		</div>

	
	</body>
</html>